@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--my-font-family, sans-serif);
}

.navbar {
  @apply fixed w-full shadow-md bg-white z-50 px-4 sm:px-6 lg:px-8 transition-all duration-500 font-latoRegular;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Add this CSS to your file */
.fade-mask {
  position: relative;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
  mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

.fade-mask:hover {
  white-space: normal;
  -webkit-mask-image: none;
  mask-image: none;
  background-color: white;
  max-width: none;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #c7c6c6;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}